$background: #000000;
$second-background: #1e1e1e;
$third-background: #2e2e2e;

$primary-color: #ffffff;
$secondary-color: #D93D3D;
$third-color: #D93D3D;

$text-color: #FFFFFF;

$font-weight: (
	regular: 400,
	medium: 500,
	bold: 700,
);

$font-family: 'Montserrat', sans-serif;

//category colors
$category-color: #ff3535, #ff356e, #ac35ff, #6035ff, #35acff, #2ccfec, #2ee87d,
	#a7d51c, #ffd235, #ffa735, #ff6535, #eb4848, #33c3dd, #702cec, #e82e56;
